Package: com.evilpenguin.boringsslkeys
Name: BoringSSLKeys
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JDE
Author: JDE
Section: Tweaks
